/* --------------------------------------------------------
version: 1.0
author: Asryan Babken
email: ababken10@gamail.com
website: https://freelancehunt.com/freelancer/ababken.html
----------------------------------------------------------*/




* {
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}

html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    vertical-align: baseline;
}

li::marker {
    display: none;
}

ul {
    list-style-type: none;
}
a,
button,
textarea,
input {
    outline: none;
}
/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
    display: block;
}

ol,
.no-boot ul {
    list-style: none;
    margin: 0;
}

blockquote,
q {
    quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
    content: '';
    content: none;
}
html {
    overflow-x: hidden;
}
table {
    border-collapse: collapse;
    border-spacing: 0;
}

a {
    text-decoration: none;
    color: var(--blue);
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

input[type=number] {
    -moz-appearance: textfield;
}

/* overall */

body {
    font-family: 'Montserrat', sans-serif;
    font-style: normal;
    font-weight: normal;
    font-style: 16px;
    line-height: 24px;
    background: #fff;
    overflow-x: hidden;
    color: #262626;
}

.h-container {
    max-width: 1640px;
    padding: 0 20px;
    width: 100%;
    margin: 0 auto;
}

.container {
    max-width: 1258px;
    padding: 0 20px;
    width: 100%;
    margin: 0 auto;
}

.main__screen {
    color: #fff;
    position: relative;
}


.home__screen::after {
    background: url(../img/home.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
}

.main__screen::after {
    content: "";
    position: absolute;
    top: 0;
    z-index: -1;
    left: 0;
    width: 100%;
    height: 100%;
}

.btn-default {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    padding: 15px 19px;
    text-transform: uppercase;
    max-width: -webkit-fit-content;
    max-width: -moz-fit-content;
    max-width: fit-content;
}

.btn-outline {
    border-radius: 3px;
    border: 1px solid #fff;
}


.md-screen__title {
    font-size: 40px;
    line-height: 50px;
    max-width: 594px;
    margin: 30px 0;
}

.screen__title {
    font-size: 60px;
    line-height: 70px;
    max-width: 802px;
    margin-bottom: 50px;
}

.location-title {
    text-transform: uppercase;
}

.screen__title span,
.md-screen__title span {
    color: #E5EEC1;
}

.section__screen {
    position: relative;
}

.screen-subtitle {
    font-size: 18px;
    line-height: 24px;
    color: rgba(255, 255, 255, 0.6);
}

.center {
    text-align: center;
}

.s-container {
    max-width: 832px;
    margin: 0 auto;
    padding: 0 15px;
}


/* header */


.header {
    background: transparent;
}

.header__line {
    padding: 29px 0;
    border-bottom: 2px solid rgba(255, 255, 255, 0.2);
    z-index: 13;
    position: relative;
}

.header__wrapper {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
}

.header__nav {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    text-transform: uppercase;
    letter-spacing: 0.1em;
}

.header__nav li:not(:last-child) {
    margin-right: 99px;
}

/* hamburger */

.hamburder-wrapper {
    display: none;
    margin-left: 52px;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    cursor: pointer;
}

.hamburger {
    z-index: 100;
    display: inline-block;
    cursor: pointer;
    -webkit-transition-property: opacity, -webkit-filter;
    transition-property: opacity, -webkit-filter;
    -o-transition-property: opacity, filter;
    transition-property: opacity, filter;
    transition-property: opacity, filter, -webkit-filter;
    -webkit-transition-duration: 0.15s;
    -o-transition-duration: 0.15s;
    transition-duration: 0.15s;
    -webkit-transition-timing-function: linear;
    -o-transition-timing-function: linear;
    transition-timing-function: linear;
    font: inherit;
    color: inherit;
    text-transform: none;
    background-color: transparent;
    border: 0;
    margin: 0;
    overflow: visible;
}


.hamburder-wrapper:hover .hamburger-inner,
.hamburder-wrapper:hover .hamburger-inner::before,
.hamburder-wrapper:hover .hamburger-inner::after,
.hamburder-wrapper:focus .hamburger-inner,
.hamburder-wrapper:focus .hamburger-inner::before,
.hamburder-wrapper:focus .hamburger-inner::after {
    color: rgb(191, 191, 191);
}

.hamburger-box {
    width: 30px;
    height: 20px;
    display: inline-block;
    position: relative;
}

.hamburger-inner {
    display: block;
    top: 50%;
    margin-top: -2px;
}

.hamburder-wrapper .hamburger .hamburger-inner,
.hamburder-wrapper .hamburger .hamburger-inner::before,
.hamburder-wrapper .hamburger .hamburger-inner::after {
    -webkit-transition: all 0.15s ease;
    -o-transition: all 0.15s ease;
    transition: all 0.15s ease;
    -webkit-transition-delay: 0;
    -o-transition-delay: 0;
    transition-delay: 0;
}

.hamburger-inner,
.hamburger-inner::before,
.hamburger-inner::after {
    width: 30px;
    height: 2px;
    background-color: #fff;
    border-radius: 2px;
    position: absolute;
    -webkit-transition-property: -webkit-transform;
    transition-property: -webkit-transform;
    -o-transition-property: transform;
    transition-property: transform;
    transition-property: transform, -webkit-transform;
    -webkit-transition-duration: 0.15s;
    -o-transition-duration: 0.15s;
    transition-duration: 0.15s;
    -webkit-transition-timing-function: ease;
    -o-transition-timing-function: ease;
    transition-timing-function: ease;
}

.hamburger-inner::before,
.hamburger-inner::after {
    content: "";
    display: block;
}

.hamburger-inner::before {
    top: -7.5px;
}

.hamburger-inner::after {
    bottom: -15px;
}

.hamburger--collapse .hamburger-inner {
    top: auto;
    bottom: 0;
    -webkit-transition-duration: 0.13s;
    -o-transition-duration: 0.13s;
    transition-duration: 0.13s;
    -webkit-transition-delay: 0.13s;
    -o-transition-delay: 0.13s;
    transition-delay: 0.13s;
    -webkit-transition-timing-function: cubic-bezier(0.55, 0.055, 0.675, 0.19);
    -o-transition-timing-function: cubic-bezier(0.55, 0.055, 0.675, 0.19);
    transition-timing-function: cubic-bezier(0.55, 0.055, 0.675, 0.19);
}

.hamburger--collapse .hamburger-inner::after {
    top: -15px;
    -webkit-transition: top 0.2s 0.2s cubic-bezier(0.33333, 0.66667, 0.66667, 1),
        opacity 0.1s linear;
    -o-transition: top 0.2s 0.2s cubic-bezier(0.33333, 0.66667, 0.66667, 1),
        opacity 0.1s linear;
    transition: top 0.2s 0.2s cubic-bezier(0.33333, 0.66667, 0.66667, 1),
        opacity 0.1s linear;
}

.hamburger--collapse .hamburger-inner::before {
    -webkit-transition: top 0.12s 0.2s cubic-bezier(0.33333, 0.66667, 0.66667, 1),
        -webkit-transform 0.13s cubic-bezier(0.55, 0.055, 0.675, 0.19);
    transition: top 0.12s 0.2s cubic-bezier(0.33333, 0.66667, 0.66667, 1),
        -webkit-transform 0.13s cubic-bezier(0.55, 0.055, 0.675, 0.19);
    -o-transition: top 0.12s 0.2s cubic-bezier(0.33333, 0.66667, 0.66667, 1),
        transform 0.13s cubic-bezier(0.55, 0.055, 0.675, 0.19);
    transition: top 0.12s 0.2s cubic-bezier(0.33333, 0.66667, 0.66667, 1),
        transform 0.13s cubic-bezier(0.55, 0.055, 0.675, 0.19);
    transition: top 0.12s 0.2s cubic-bezier(0.33333, 0.66667, 0.66667, 1),
        transform 0.13s cubic-bezier(0.55, 0.055, 0.675, 0.19),
        -webkit-transform 0.13s cubic-bezier(0.55, 0.055, 0.675, 0.19);
}

.hamburger--collapse.is-active .hamburger-inner {
    -webkit-transform: translate3d(0, -8px, 0) rotate(-45deg);
    transform: translate3d(0, -8px, 0) rotate(-45deg);
    -webkit-transition-delay: 0.22s;
    -o-transition-delay: 0.22s;
    transition-delay: 0.22s;
    -webkit-transition-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
    -o-transition-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
    transition-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
}

.hamburger--collapse.is-active .hamburger-inner::after {
    top: 0;
    opacity: 0;
    -webkit-transition: top 0.2s cubic-bezier(0.33333, 0, 0.66667, 0.33333),
        opacity 0.1s 0.22s linear;
    -o-transition: top 0.2s cubic-bezier(0.33333, 0, 0.66667, 0.33333),
        opacity 0.1s 0.22s linear;
    transition: top 0.2s cubic-bezier(0.33333, 0, 0.66667, 0.33333),
        opacity 0.1s 0.22s linear;
}

.hamburger--collapse.is-active .hamburger-inner::before {
    top: 0;
    -webkit-transform: rotate(-90deg);
    -ms-transform: rotate(-90deg);
    transform: rotate(-90deg);
    -webkit-transition: top 0.1s 0.16s cubic-bezier(0.33333, 0, 0.66667, 0.33333),
        -webkit-transform 0.13s 0.25s cubic-bezier(0.215, 0.61, 0.355, 1);
    transition: top 0.1s 0.16s cubic-bezier(0.33333, 0, 0.66667, 0.33333),
        -webkit-transform 0.13s 0.25s cubic-bezier(0.215, 0.61, 0.355, 1);
    -o-transition: top 0.1s 0.16s cubic-bezier(0.33333, 0, 0.66667, 0.33333),
        transform 0.13s 0.25s cubic-bezier(0.215, 0.61, 0.355, 1);
    transition: top 0.1s 0.16s cubic-bezier(0.33333, 0, 0.66667, 0.33333),
        transform 0.13s 0.25s cubic-bezier(0.215, 0.61, 0.355, 1);
    transition: top 0.1s 0.16s cubic-bezier(0.33333, 0, 0.66667, 0.33333),
        transform 0.13s 0.25s cubic-bezier(0.215, 0.61, 0.355, 1),
        -webkit-transform 0.13s 0.25s cubic-bezier(0.215, 0.61, 0.355, 1);
}

.screen__content {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
}

/*  */

.overflowed {
    overflow: hidden;
}

.header__mobile {
    position: fixed;
    top: 0;
    right: 0;
    -webkit-transform: translateX(100%);
        -ms-transform: translateX(100%);
            transform: translateX(100%);
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5);
    z-index: 12;
    color: #fff;
    font-size: 24px;
    line-height: 34px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    text-align: center;
    text-transform: uppercase;
    -webkit-transition: all .5s ease;
    -o-transition: all .5s ease;
    transition: all .5s ease;
}

.header__mobile.active {
    -webkit-transform: translateX(0%);
        -ms-transform: translateX(0%);
            transform: translateX(0%);
}

.header__mobile--inner {
    position: fixed;
    left: 0;
    width: 100%;
    padding: 40px 20px;
    overflow-y: auto;
}

.mobile__nav li:not(:last-child) {
    margin-bottom: 20px;
}

.mobile__nav {
    margin-bottom: 40px;
}

.open__header .screen__content *,
.open__header + div * {
    opacity: 0.1 !important;
}

.open__header::after {
    -webkit-filter: blur(25px);
            filter: blur(25px);
    -webkit-transition: all .3s ease;
    -o-transition: all .3s ease;
    transition: all .3s ease;
}

.header__mobile--inner .btn-contacts {
    margin-right: auto;
    margin-left: auto;
}

/*  */

.g-screen {
    height: 631px;
}

.video__frame {
    margin-bottom: 120px;
}


.video__wrapper {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
}

.video__block video {
    max-width: 100%;
}

.video__block {
    position: relative;
}

video[poster] {
    height: 100%;
    max-height: 600px;
}

.video-btn {
    position: absolute;
    bottom: 10%;
    right: 5%;
    color: #DBDBDB;
    z-index: 10;
    cursor: pointer;
    font-size: 80px;
}

/*  */


.home__frame--inner {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
}

.home__frame--inner>div {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 49%;
            flex: 0 0 49%;
}

.home__frame-content {
    max-width: 490px;
}

.section-title {
    font-size: 40px;
    line-height: 50px;
    margin-bottom: 50px;
}

.section-title span {
    color: #558E84;
}

.home__frame-image img {
    width: 100%;
}

.half-bg-left::after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 30%;
    height: 100%;
    background: #F2F2F2;
    z-index: -10;
}

.half-bg-right::after {
    content: "";
    position: absolute;
    top: 0;
    right: 0;
    width: 30%;
    height: 100%;
    background: #F2F2F2;
    z-index: -10;
}

.fw-m {
    font-weight: 500;
}

.fsz-md {
    font-size: 20px;
    line-height: 24px;
}

.home__frame-text {
    color: #666666;
}

.home__frame-text>p:not(:last-child) {
    margin-bottom: 30px;
}

.c-black {
    color: #000;
}

.c-white {
    color: #fff;
}

.c-green {
    color: #558E84;
}
.c-gray {
    color: rgba(255, 255, 255, .6);
}

.btn-green {
    background: #558E84;
    color: #fff;
}

.home-btn {
    margin-top: 30px;
}

/*  */

.fund-screen {
    padding: 60px 0;
    background: #558E84;
}

.fund-title {
    color: #fff;
    margin-bottom: 21px;
}

.fund-btn {
    color: #fff;
    margin: 0 auto;
}

/*  */
.footer {
    padding: 90px 0 100px;
    background: #262626;
}

.footer__top {
    color: #fff;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    font-size: 14px;
    line-height: 20px;
}

.footer hr {
    background: #707070;
    width: 100%;
    height: 2px;
    margin: 50px 0;
}

.footer__bottom {
    color: #595959;
    font-size: 13px;
    line-height: 18px;
}

.footer__row {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
}

.footer-nav {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 70%;
            flex: 0 0 70%;
    -webkit-column-count: 3;
       -moz-column-count: 3;
            column-count: 3;
}

.footer-nav li:not(:nth-child(3n)) {
    margin-bottom: 13px;
}

.footer-nav li:nth-child(3n) {
    -webkit-column-break-after: column;
       -moz-column-break-after: column;
            break-after: column;
}

.rights-row {
    margin-top: 34px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
}

.footer-social {
    color: #fff;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-flex: 0;
        -ms-flex: 0 0 250px;
            flex: 0 0 250px;
}

/* about */


/*  */

.about__screen::after {
    background: url(../img/about.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
}

/*  */

.main__navigation {
    width: 100%;
    position: relative;
}
.main__navigation::after {
    content: "";
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 1px;
    background-color: #E6E8EB;
    z-index: 0;
}
.navigation {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    height: 100%;
    height: 65px;
    overflow-x: auto;
    overflow-y: hidden;
}

.navigation::-webkit-scrollbar {
    height: 0;
    width: 0;
    background: transparent;
}

.navigation li {
    text-transform: uppercase;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    color: #9F9F9F;
    position: relative;
    letter-spacing: 0.1em;
    cursor: pointer;
    white-space: nowrap;
}

.navigation li:not(:last-child) {
    margin-right: 35px;
}

.navigation li:hover {
    color: #262626;
    -webkit-transition: all .3s ease;
    -o-transition: all .3s ease;
    transition: all .3s ease;
}

.navigation li::after {
    content: "";
    width: 0;
    height: 1px;
    position: absolute;
    bottom: 0;
    left: 0;
    background: #262626;
    -webkit-transition: all .3s ease;
    -o-transition: all .3s ease;
    transition: all .3s ease;
    z-index: 2;
}

.navigation li.active {
    color: #262626;
}

.navigation li.active::after,
.navigation li:hover::after {
    width: 100%;
}

.default-frame {
    padding: 120px 0;
}

.about__text {
    max-width: 802px;
    margin: 0 auto;
    font-size: 20px;
    line-height: 30px;
}

.about__text p:not(:last-child) {
    margin-bottom: 30px;
}

.about__text span {
    color: #558E84;
}

/*  */

.dark-bg {
    background: #262626;
}

.timeline-title.section-title {
    margin-bottom: 0;
}

.timeline-block {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
}

.timeline-item {
    padding: 50px 0;
    -webkit-box-flex: 0;
        -ms-flex: 0 0 47%;
            flex: 0 0 47%;
    border-bottom: 1px solid rgba(255, 255, 255, 0.15);
    color: #fff;
}

.timeline-list--subitem {
    color: rgba(255, 255, 255, 0.6);
}

.timeline-list--item,
.timeline-list--subitem {
    padding-left: 60px;
    font-weight: 500;
    position: relative;
}

.timeline-list--item::before,
.timeline-list--subitem::before {
    content: "";
    position: absolute;
    top: 8px;
    left: 0;
    width: 30px;
    height: 2px;
    background: #fff;
}

.timeline-list--subitem::before {
    background: rgba(255, 255, 255, 0.6);
}

.timeline-list--item:not(:last-child),
.timeline-list--subitem:not(:last-child) {
    margin-bottom: 27px;
}

.timeline-date {
    color: rgba(255, 255, 255, 0.2);
    margin-bottom: 48px;
    font-size: 30px;
    line-height: 37px;
}

.timeline-list--item>div:nth-child(2) {
    margin-top: 27px;
}

.timeline-logo {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    border: 2px solid #515151;
    -webkit-box-flex: 0;
        -ms-flex: 0 0 178px;
            flex: 0 0 178px;
    height: 178px;
    border-radius: 50%;
    margin-right: 30px;
}

.timeline-content {
    max-width: 1010px;
    margin: 100px auto 200px;
    color: rgba(255, 255, 255, 0.6);
}

.timeline-content {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
}

.timeline-btn {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    width: 250px;
    max-width: 100%;
}

.timeline-text {
    font-size: 30px;
    line-height: 37px;
    font-weight: 500;
}

.timeline-text+p {
    margin: 57px 0 47px;
    font-size: 18px;
    line-height: 24px;
    font-weight: 500;
    color: #fff;
}

.timeline-text span {
    color: #fff;
}

/*  */

.whatwedo__inner {
    max-width: 802px;
}

.whatwedo__frame {
    padding-bottom: 130px;
}

.whatwedo-image {
    position: relative;
    padding-top: 320px;
    margin-bottom: 50px;
}

.whatwedo-image img {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: auto;
}

.whatwedo-item {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
}

.whatwedo-item:not(:last-child) {
    margin-bottom: 10px;
}

.whatwedo-icon {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-flex: 0;
        -ms-flex: 0 0 140px;
            flex: 0 0 140px;
    height: 140px;
    border: 1px solid #E9E9E9;
    border-radius: 50%;
    margin-right: 79px;
}

.whatwedo-text {
    font-size: 16px;
    font-weight: 500;
    line-height: 24px;
    color: #626262;
}

/* / */

.whyus__frame--inner {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
}

.whyus__frame-image img {
    width: 100%;
}

.whyus__frame-content {
    max-width: 529px;
    -webkit-box-flex: 0;
        -ms-flex: 0 0 45%;
            flex: 0 0 45%;
}

.whyus__frame-text {
    color: #666666;
}

.whyus__frame-text>p:not(:last-child) {
    margin-bottom: 30px;
}

.whyus__frame-image {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 50%;
            flex: 0 0 50%;
}

.whyus-block:not(:last-child) {
    margin-bottom: 120px;
}

.whyus__frame-text span {
    color: #558E84;
}

.whyus-block:last-child .whyus__frame--inner>div {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 49.5%;
            flex: 0 0 49.5%;
}

/*  */

.information-screen {
    overflow-x: hidden;
}

.information-screen::after {
    content: "More Information   More Information";
    position: absolute;
    top: 50%;
    left: -2%;
    -webkit-transform: translateY(-50%);
        -ms-transform: translateY(-50%);
            transform: translateY(-50%);
    font-size: 120px;
    line-height: 146px;
    font-weight: 600;
    width: 100%;
    white-space: nowrap;
    color: #F2F2F2;
    -webkit-transition: all .3s ease;
    -o-transition: all .3s ease;
    transition: all .3s ease;
    z-index: -1;
}

.btn-information {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    width: 150px;
    height: 150px;
    background: #262626;
    font-size: 12px;
    line-height: 17px;
    color: #fff;
    text-transform: uppercase;
    text-align: center;
    border-radius: 50%;
    margin: 0 auto;
    position: relative;
    -webkit-transition: all .3s ease;
    -o-transition: all .3s ease;
    transition: all .3s ease;
}

.btn-information svg {
    opacity: 0;
    position: absolute;
    bottom: 50%;
    right: 50%;
    -webkit-transform: translate(50%, 50%);
        -ms-transform: translate(50%, 50%);
            transform: translate(50%, 50%);
    -webkit-transition: all .3s ease;
    -o-transition: all .3s ease;
    transition: all .3s ease;
}

.information-screen:hover::after {
    color: #262626;
}

.information-screen:hover a {
    background: #558E84;
}

.information-screen:hover a span {
    opacity: 0;
    -webkit-transition: all .3s ease;
    -o-transition: all .3s ease;
    transition: all .3s ease;
}

.information-screen:hover a svg {
    opacity: 1;
}

/* team */

/*  */

.team__screen::after {
    background: url(../img/team.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
}

.team__frame {
    padding-top: 120px;
    overflow-x: hidden;
}

.team__item {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
}

.team__item:nth-child(even) {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: reverse;
        -ms-flex-direction: row-reverse;
            flex-direction: row-reverse;
}

.team__item:not(:last-child) {
    margin-bottom: 120px;
}

.team-image {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 32%;
            flex: 0 0 32%;
}

.team-image img {
    width: 100%;
}

.team-content {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 58%;
            flex: 0 0 58%;
    padding-top: 50px;
    position: relative;
}

.team-position {
    color: #558E84;
    text-transform: uppercase;
}

.team-title.section-title {
    margin-bottom: 10px;
}

.team-text {
    margin-top: 50px;
    font-weight: 500;
}

.team-text p:not(:last-child) {
    margin-bottom: 20px;
}

.team-content::after {
    content: "";
    width: 100vw;
    top: 0;
    left: 0;
    height: 1px;
    background: #9F9F9F;
    position: absolute;
}

.team__item:nth-child(even) .team-content::after {
    right: 0;
    left: unset;
}

/* indices */

.indices__screen::after {
    background: url(../img/indices.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
}

.indices-text {
    max-width: 802px;
    margin: 0 auto 100px;
}

.indices-title.section-title {
    margin-bottom: 0;
}

.video__frame hr {
    background: #9F9F9F;
    height: 1px;
}

.indices-content__section {
    padding-top: 120px;
}

.indices__table {
    padding-top: 120px;
}

.selects__row {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
}

.selects__row>div {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 19%;
            flex: 0 0 19%;
}

.custom-select.ss-main .ss-single-selected {
    height: 40px;
    padding: 6px 15px;
}

.select-title {
    font-weight: bold;
    text-transform: uppercase;
    margin-bottom: 15px;
}
.table-tools {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    margin-top: 70px;
}
.table-tabs {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-flex: 0;
        -ms-flex: 0 0 55%;
            flex: 0 0 55%;
}
.table-tab {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 33.333333%;
            flex: 0 0 33.333333%;
    font-weight: bold;
    height: 40px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    text-align: center;
    background: #F2F2F2;
    -webkit-transition: all .3s ease;
    -o-transition: all .3s ease;
    transition: all .3s ease;
    color: #262626;
    cursor: pointer;
    text-transform: uppercase;
}
.table-tab.active,
.table-tab:hover {
    background: #558E84;
    color: #fff;
}
.table-filter {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-flex: 0;
        -ms-flex: 0 0 33%;
            flex: 0 0 33%;
}
.table-search {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
}
.table-search label {
    display: block;
    margin-right: 20px;
}
.search-input {
    border: 2px solid #E2E2E2;
    height: 40px;
    width: 304px;
    position: relative;
}
.search-input span {
    position: absolute;
    top: 50%;
    left: 20px;
    -webkit-transform: translateY(-50%);
        -ms-transform: translateY(-50%);
            transform: translateY(-50%);
    color: #E2E2E2;
}
.search-input input {
    padding: 0 20px 0 50px;
    border: none;
    width: 100%;
    height: 100%;
    outline: none;
}

.table-main {
    margin-top: 30px;
}
.table-head {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    background-color: #F2F2F2;
}
.table-head i {
    margin-right: 10px;
    color: #626262;
}
.hd {
    font-weight: bold;
    -webkit-box-flex: 0;
        -ms-flex: 0 0 16.66666%;
            flex: 0 0 16.66666%;
    padding: 0 10px;
    height: 70px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    text-transform: uppercase;
}
.hd:first-child,
.td:first-child {
    padding-left: 30px;
}
.m-hd {
    display: none;
    font-weight: bold;
    text-transform: uppercase;
}
.tr {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    width: 100%;
}
.tr:nth-child(even) {
    background: #FCFCFC;
}
.td:first-child .td-inner {
    color: #558E84;
}
.td {
    font-weight: 500;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-flex: 0;
        -ms-flex: 0 0 16.66666%;
            flex: 0 0 16.66666%;
    height: 70px;
    padding: 0 10px;
}
.table-btn {
    margin: 50px auto 0;
}

/* insights */

.insights__screen {
    overflow-x: hidden;
}

.insights__screen::after {
    background: url(../img/insights.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
}

.insights-subtitle {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    font-size: 16px;
}

.insights-subtitle span {
    margin-right: 14.5px;
}

.insights-filter {
    padding-bottom: 50px;
    border-bottom: 1px solid #515151;
}

.insights-filter ul {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
}

.insights-filter li:not(:last-child) {
    margin-right: 40px;
}

.insights-filter li {
    white-space: nowrap;
    text-transform: uppercase;
    font-weight: 500;
}

.insights-filter li.active,
.insights-filter li:hover {
    border-bottom: 1px solid #000
}

.insights-item {
    padding: 50px 0;
    border-bottom: 1px solid #515151;
}

.insights-info {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    margin-top: 30px;
}

.insights-info>span {
    font-weight: 500;
    padding-right: 10px;
    margin-right: 20px;
}

.insights-info>span>span {
    color: #9F9F9F;
    margin-left: 15px;
}

.insights-text {
    color: #515151;
}

.insights-pagination {
    padding-top: 50px;
}

.insights-pagination ul {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
}

.insights-pagination li {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    width: 50px;
    height: 50px;
    border: 2px solid #F8F8F8;
    cursor: pointer;
    -webkit-transition: all .3s ease;
    -o-transition: all .3s ease;
    transition: all .3s ease;
}

.insights-pagination li.active,
.insights-pagination li:hover {
    background: #558E84;
    border: 2px solid transparent;
    color: #fff;
}

.insights-pagination li.active svg path,
.insights-pagination li:hover svg path {
    fill: #fff;
    -webkit-transition: all .3s ease;
    -o-transition: all .3s ease;
    transition: all .3s ease;
}

.insights-pagination li:not(:last-child) {
    margin-right: 10px;
}
.insights-pagination li svg {
    margin-top: 5px;
}
.insights-filter ul::-webkit-scrollbar {
    height: 0;
    width: 0;
    background: transparent;
}


/* 404 */

.notfound__screen {
    height: 100vh;
}

.notfound__screen::after {
    background: url(../img/404.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
}

.notfound-btn {
    margin: 50px auto 0;
    font-size: 12px;
    width: 100%;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    max-width: 208px;
    line-height: 16px;
}

/* article */
.article__screen::after {
    background-color: #558E84;
}
.a-screen {
    height: 446px;
}
.article-subtitle i {
    margin-right: 5px;
}
.article-subtitle > a > span span {
    margin: 0 15px;
}
.article-frame .video-btn {
    bottom: 50%;
    right: 50%;
    -webkit-transform: translate(50%, 50%);
        -ms-transform: translate(50%, 50%);
            transform: translate(50%, 50%);
}
.article-title {
    font-size: 30px;
    line-height: 40px;
    margin-bottom: 50px;
}
.article-text {
    margin: 50px 0;
    color: #626262;
    font-weight: 500;
}
.article-text p:not(:last-child) {
    margin-bottom: 20px;
}
.article-row {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
}
.article-btn {
    width: 100%;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    max-width: 209px;
}
.share-btn i {
    margin-right: 5px;
}

/* contacts */

.contacts__screen {
    border-bottom: 1px solid #A7A7A7;
}
.contacts__screen::after {
    background-color: #262626;
}
.contacts__screen .header__mobile {
    background: rgba(0, 0, 0, 0.9);
}
.contacts-frame {
    padding: 150px 0;
}
.form-title.section-title {
    margin-bottom: 28px;
}
.contacts-inner {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
}
.contacts-form {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 50%;
            flex: 0 0 50%;
}
.contacts-map {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 30%;
            flex: 0 0 30%;
}
.form-info {
    margin-bottom: 30px;
}
.contacts-form label {
    margin-bottom: 10px;
    font-size: 14px;
    line-height: 20px;
    display: block;
}
.input-row {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
}
.input-row > div {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 48%;
            flex: 0 0 48%;
}
.input {
    height: 40px;
    border-radius: 3px;
    overflow: hidden;
}
.textarea {
    border-radius: 3px;
    overflow: hidden;
}
.input-wrapper,
.textarea-wrapper {
    margin-bottom: 20px;
}
.textarea-wrapper {
    width: 100%;
}
.input-wrapper input {
    height: 100%;
}
.input-wrapper input,
.textarea-wrapper textarea {
    width: 100%;
    padding: 10px 20px;
    border: none;
    outline: none;
    color: #262626;
    font-size: 16px;
    line-height: 24px;
}
.textarea-wrapper textarea {
    height: 100px;
    max-width: 100%;
    resize: vertical;
}
.form-details {
    margin-bottom: 30px;
    color: #A7A7A7;
}
.form-details a {
    color: #558E84;
}
.form-details p:not(:last-child) {
    margin-bottom: 20px;
}
.form-btn {
    border: none;
    outline: none;
    width: 100%;
    max-width: 208px;
    height: 60px;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    cursor: pointer;
}
#map {
    height: 217px;
    margin-bottom: 30px;
    background: url(../img/map.jpg);
    border-radius: 3px;
    overflow: hidden;
}
.contacts-map p {
    max-width: 302px;
}
.contacts-map p:last-child {
    color: #A8A8A8;
    margin-top: 20px;
}


/* rights  */
.rights__screen {
    color: #262626;
}
.rights__screen .btn-outline {
    border-color: #262626;
}
.rights__screen .header__mobile .btn-outline {
    border-color: #fff;
}
.rights__screen .header__line {
    border-color: #cccccc;
}
.rights__screen .hamburger-inner, .rights__screen .hamburger-inner::before, .rights__screen .hamburger-inner::after {
    background-color: #262626;
}
.rights__screen .logo svg path {
    fill: #262626;
}
.rights__screen .is-active .hamburger-inner, .rights__screen .is-active .hamburger-inner::before, .rights__screen .is-active .hamburger-inner::after {
    background-color: #fff;
}
.rights__screen.open__header .logo svg path {
    fill: #fff;
}
.rights__screen .header__mobile {
    background: rgba(0, 0, 0, 0.9);
}
.rights__screen::after {
    background: #fff;
}
.privacy-frame {
    padding: 100px 0;
}
.privacy-text {
    color: #626262;
}
.privacy-content--title {
    font-size: 36px;
    line-height: 45px;
    font-weight: 500;
    margin-bottom: 30px;
}
.privacy-text > *:not(:last-child) {
    margin-bottom: 40px;
}
.privacy-text ul {
    padding-left: 85px;
}
.privacy-text li {
    position: relative;
    padding-left: 20px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
}
.privacy-text li:not(:last-child) {
    margin-bottom: 9px;
}
.privacy-text li::before {
    content: "";
    position: absolute;
    top: 8px;
    left: 0;
    width: 4px;
    height: 4px;
    background: #515151;
    border-radius: 50%;
}
.privacy-content:not(:last-child) {
    margin-bottom: 80px;
}
.privacy-content--subtitle {
    margin-bottom: 30px;
    font-size: 25px;
    line-height: 34px;
    font-weight: 500;
}

/* popup */

.layer {
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    position: fixed;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, .7);
    z-index: 30;
    display: none;
}
.layer-out {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 31;
}
.layer-wrapper {
    position: absolute;
    bottom: 50%;
    right: 50%;
    -webkit-transform: translate(50%, 50%);
        -ms-transform: translate(50%, 50%);
            transform: translate(50%, 50%);
    max-width: 802px;
    width: 100%;
    z-index: 32;
}
.contact-window {
    width: 100%;
    background-color: #558E84;
    padding: 30px 40px;
    color: #fff;
    border-radius: 3px;
}
.contact-popup--inner {
    position: relative;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    height: 500px;
    padding: 30px 0 0;
}
.cross {
    position: absolute;
    top: 0;
    right: 0;
    cursor: pointer;
}
.contact-popup--inner form {
    width: 100%;
}
.contact-popup--text {
    margin-bottom: 35px;
}
.contact-popup--text span {
    font-weight: 600;
}
.p-contact-btn {
    margin-top: 30px;
    border: 2px solid #fff;
    border-radius: 3px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    max-width: 208px;
    width: 100%;
    height: 60px;
    cursor: pointer;
}
.hidden {
    display: none;
}

/*  */


.opacMenu {
    -webkit-transform: translateX(-50px);
        -ms-transform: translateX(-50px);
            transform: translateX(-50px);
    opacity: 0;
}

/* fcfqm */

.fc__screen::after {
    background: url(../img/fcfqm.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
}
.approach__frame {
    overflow-x: hidden;
}
.approach-text p:first-child {
    font-size: 20px;
    line-height: 28px;
    margin-bottom: 40px;
}
.quality-inner {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    height: 547px;
}
.quality-title {
    padding-top: 120px;
    position: relative;
    -webkit-box-flex: 0;
        -ms-flex: 0 0 57%;
            flex: 0 0 57%;
    padding-right: 20px;
}
.quality-title .section-title {
    max-width: 594px;
}
.quality-title::after {
    content: "";
    position: absolute;
    top: 0;
    right: 0;
    width: 100vw;
    height: 100%;
    background-color: #F2F2F2;
    z-index: -1;
}
.quality-text {
    padding-top: 120px;
    padding-left: 20px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: end;
        -ms-flex-pack: end;
            justify-content: flex-end;
}
.quality-text--inner {
    max-width: 386px;
}
.quality-text--inner p:not(:last-child) {
    margin-bottom: 20px;
}
.quality__screen {
    background: url(../img/quality.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    color: #fff;
}
.quality-wrapper {
    max-width: 490px;
}
.quality-wrapper--text p:not(:last-child) {
    margin-bottom: 30px;
}
.fcfqm-subtitle {
    font-size: 18px;
    line-height: 27px;
    max-width: 490px;
}
.fcfqm-rounds {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    margin: 80px 0 120px;
}
.fcfqm-rounds > span {
    font-size: 42px;
    font-weight: 500;
}
.fcfqm-round {
    border-radius: 50%;
    width: 257px;
    height: 257px;
    background: #558E84;
    color: #fff;
    font-size: 18px;
    line-height: 27px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    padding: 20px;
    text-align: center;
}
.fcfqm-round:last-child {
    background: #262626;
}
.fcfqm_describe-row {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    position: relative;
}
.fcfqm_describe-inner {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 40%;
            flex: 0 0 40%;
}
.fcfqm_describe-frame {
    position: relative;
}
.fcfqm_describe-frame::after {
    content: "";
    width: 30%;
    height: 60%;
    position: absolute;
    top: 0;
    right: 0;
    background: #F2F2F2;
    z-index: -1;
}
.fcfqm_describe-title {
    padding-top: 20px;
    max-width: 552px;
}
.fcfqm_describe-image {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 40%;
            flex: 0 0 40%;
}
.fcfqm_describe-image img {
    width: 100%;
}
.fcfqm_describe-subtitle {
    font-size: 30px;
    line-height: 40px;
    margin-bottom: 50px;
}
.fcfqm_describe-subtitle span {
    color: #558E84;
}
.fcfqm_describe-content:not(:last-child) {
    margin-bottom: 78px;
}
.fcfqm_describe-text p:not(:last-child) {
    margin-bottom: 30px;
}
.fcfqm_describe-text p::last-child {
    color: #626262;
}

/* indices template */

.template__screen::after {
    background: url(../img/template.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}
.template__screen-title {
    max-width: 786px;
}
.overview-text p:not(:last-child) {
    margin-bottom: 20px;
}
.chart-block {
    margin-top: 50px;
    height: 200px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    background: #F2F2F2;
    padding: 20px;
}
.m-table + .table-btn {
    margin-left: 0;
}
.m-table {
    max-width: 450px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
}
.table-sort {
    cursor: pointer;
}
.m-table-col {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 60%;
            flex: 0 0 60%;
}
.template-table--title {
    position: relative;
    padding-bottom: 32px;
}
.template-table--title::after {
    content: "";
    position: absolute;
    bottom: 0;
    left: 0;
    width: 337px;
    height: 1px;
    max-width: 100%;
    background: #707070;
}
.m-table-col:first-child {
    background: #F2F2F2;
    -webkit-box-flex: 0;
        -ms-flex: 0 0 40%;
            flex: 0 0 40%;
    font-weight: bold;
    text-transform: uppercase;
}
.m-table-col:last-child div:first-child {
    color: #558E84;
}
.m-table-col > div {
    height: 50px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    padding: 0 30px;
}